{% extends 'base.html.twig' %}

{% block title %}{{ details.name|default('undefined') }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-3">
        <a href="https://www.themoviedb.org/tv/{{ details.id|default('undefined') }}">
            <img class="card" src="https://image.tmdb.org/t/p/w500{{ details.poster_path|default('undefined') }}" alt="{{ details.name|default('undefined') }}" width="300">
        </a>
    </div>
    <div class="col-sm-12 col-md-6">
        <h2>{{ details.name|default('undefined') }}</h2>
        <h6>Release date: {{ details.first_air_date|default('undefined') }}</h6>
        <h4>{{ details.vote_average}} vote average {{ details.vote_count|default('undefined') }} vote count</h4>
        <h4>Description</h4>
        <p>{{ details.overview|default('undefined') }}</p>
        {% if details.original_name != details.name %}
            <p>{{ details.original_name|default('undefined') }}</p>
        {% endif %}
        <input type="hidden" name="type" value="tvshow">
        <a id="addBtn" class="btn btn-info" href="/save/tvshow/{{ details.name }}/{{ details.first_air_date }}">Add to playlist</a>
    </div>
</div>

{% endblock %}